/*!
 global > color
------------------------------
*/
:root {
  --color-bg-primary: #303030;
  --color-bg-secondary: #efefef;
  --color-bg-tertiary: #fcfafa;
  --color-text-primary: #1d1d1d;
  --color-accent-primary: #3f4f8a;
  --color-accent-secondary: #59b9c7;
  --color-accent-tertiary: #b7c8d0;
  --color-black: #000000;
  --color-white: #ffffff;
}
