@use "../global" as g;

//
// mixin > mixin
// ------------------------------
//

// ==================================================================
// fonts family / weight
// ==================================================================

// 受け取った値に応じてweightを変更
$font-weight: (
  "ExtraLight": 200,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "Bold": 700,
);

@mixin font-family-base($weight: "Regular") {
  font-family: var(--font-family-base);
  font-weight: map-get($font-weight, $weight);
}

@mixin font-family-en($weight: "ExtraLight") {
  font-family: var(--font-family-en);
  font-weight: map-get($font-weight, $weight);
}

// ==================================================================
// fonts size / line height
// ==================================================================

// サイズを軸に行間を自動計算
@mixin font-size($font-size, $line-height) {
  font-size: #{$font-size}rem;
  line-height: $line-height / $font-size;
}

// ==================================================================
// letter-spacing
// ==================================================================
@mixin letter-spacing($letter-spacing) {
  letter-spacing: #{$letter-spacing / 100}em;
}

// ==================================================================
// image-base
// ==================================================================
$size: (cover, contain);
$position: (center, top, bottom, left, right,initial);
$repeat: (no-repeat, repeat, repeat-x, repeat-y);

@mixin image-base(
  $prefix,
  $size: contain,
  $position: center,
  $repeat: no-repeat
) {
  #{$prefix}-position: $position;
  #{$prefix}-repeat: $repeat;
  #{$prefix}-size: $size;
}

// ==================================================================
// mask-img
// ==================================================================

@mixin mask-img($size: contain, $position: center, $repeat: no-repeat) {
  @include image-base(mask, $size, $position, $repeat);

  // Safari 対策
  -webkit-mask-position: $position;
  -webkit-mask-repeat: $repeat;
  -webkit-mask-size: $size;
}

// ==================================================================
// background-img
// ==================================================================

@mixin background-img($size: contain, $position: center, $repeat: no-repeat) {
  @include image-base(background, $size, $position, $repeat);
}
