@use "../../global" as g;
@use "../../mixin/mixin" as m;
@use "../../component/marquee" as c; // marqueeのkeyframesを使用可能にする

/*!
 feature
------------------------------
 */

// 背景画像を設定
.feature-fv__inner {
  background-image: url(../img/feature/feature-kv-sp.jpg);

  @include g.mq() {
    background-image: url(../img/feature/feature-kv.jpg);
  }
}

.feature {
  background-color: var(--color-bg-primary);
  color: var(--color-white);
  border-bottom: 1px solid currentColor;
}

.feature__item-inner {
  padding: 60rem 30rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 24rem;

  @include g.mq() {
    padding: 90rem 157rem;
    flex-direction: row;
    gap: 80rem;
    align-items: center;
  }
}

.feature__content {
  @include g.mq() {
    width: 480rem;
  }
}

.feature__title--en {
  @include m.font-size($font-size: 18, $line-height: 25);
  @include m.font-family-en($weight: "Light");
  @include m.letter-spacing(-2);
  color: var(--color-accent-secondary);
  display: flex;
  gap: 15rem;
  align-items: center;

  // □の装飾
  &::before {
    content: "";
    display: block;
    width: 15rem;
    aspect-ratio: 1/1;
    background-color: currentColor;
  }
}

.feature__title--ja {
  margin-top: 20rem;

  @include g.mq() {
    margin-top: 15rem;
  }

  span {
    display: block;
    position: relative;
    @include m.font-size($font-size: 26, $line-height: 36);
    @include m.font-family-en($weight: "Medium");

    @include g.mq() {
      @include m.font-size($font-size: 44, $line-height: 54);
    }

    // 上下の装飾線設定
    &::before,
    &::after {
      content: "";
      display: block;
      opacity: 0.2;
      background-color: var(--color-white);
      position: relative;
      height: 0.8rem;
    }

    // 上の線
    &::before {
      width: 64rem;
      top: 6rem;
      left: -12rem;

      @include g.mq() {
        width: 114rem;
      }
    }

    // 下の線
    &::after {
      width: 80rem;
      bottom: 6rem;
      left: 24rem;
      @include g.mq() {
        width: 96rem;
        left: 56rem;
        bottom: 8rem;
      }
    }

    // 2行の設定
    &:nth-of-type(2) {
      // 上の線
      &::before {
        width: 140rem;
        left: -4rem;
        @include g.mq() {
          width: 230rem;
          left: -6rem;
        }
      }

      // 下の線
      &::after {
        width: 143rem;
        left: 120rem;
        @include g.mq() {
          width: 233rem;
          left: 200rem;
        }
      }
    }
  }
}

.feature__text {
  margin-top: 18rem;
  @include m.font-size($font-size: 16, $line-height: 32);
  @include m.letter-spacing(10);

  @include g.mq() {
    margin-top: 22rem;

    span {
      display: block;
    }
  }
}

.feature__img {
  position: relative;

  @include g.mq() {
    width: 570rem;
  }

  // 装飾画像設定
  &::before,
  &::after {
    content: "";
    display: block;
    @include m.background-img;
    position: absolute;
    width: 15.79%;
  }

  // 左の装飾画像
  &::before {
    background-image: url(../img/feature/feature-professionals-accounting-left.svg);
    aspect-ratio: 1/1;
  }

  // 右の装飾画像
  &::after {
    background-image: url(../img/feature/feature-professionals-accounting-right.svg);
    aspect-ratio: 3/4;
    right: 5%;
    bottom: -6%;
  }
}

.feature__recruitment {
  .feature__item-inner {
    // textとimgを反転
    @include g.mq() {
      flex-direction: row-reverse;
    }
  }

  .feature__img {
    // 左の装飾画像
    &::before {
      background-image: url(../img/feature/feature-recruitment-decoration-right.svg);
      aspect-ratio: 5/3;
      width: 26.3%;
      right: 0;
    }

    // 右の装飾画像
    &::after {
      background-image: url(../img/feature/feature-recruitment-decoration-left.svg);
      aspect-ratio: 4/3;
      right: auto;
      bottom: 0;
      width: 21.05%;
    }
  }

  .feature__title--ja {
    span {
      // 上の線
      &::before {
        width: 64rem;
        top: 6rem;
        left: -12rem;

        @include g.mq() {
          width: 120rem;
          left: -30rem;
        }
      }

      // 下の線
      &::after {
        width: 72rem;
        left: 72rem;

        @include g.mq() {
          width: 108rem;
          left: 128rem;
        }
      }

      // 2行の設定
      &:nth-of-type(2) {
        // テキストを右にずらす
        margin-left: 56rem;

        @include g.mq() {
          margin-left: 48rem;
        }

        // 上の線
        &::before {
          width: 72rem;
          left: -8rem;
          top: 4rem;

          @include g.mq() {
            width: 160rem;
            left: -42rem;
            top: 6rem;
          }
        }

        // 下の線
        &::after {
          width: 102rem;
          left: 56rem;

          @include g.mq() {
            width: 146rem;
            left: 104rem;
          }
        }
      }
    }
  }
}

.feature__marquee {
  height: 80rem;

  @include g.mq() {
    height: 160rem;
  }

  // 上下線の設定
  &::before,
  &::after {
    height: 0.8rem;
  }

  // 下の線
  &::after {
    bottom: 1rem;

    @include g.mq() {
      bottom: 0;
    }
  }
}

.feature__marquee__inner {
  animation-name: marquee-left;

  span {
    font-size: 125rem;

    @include g.mq() {
      font-size: 250rem;
    }
  }
}
