@use "../global" as g;
@use "../mixin/mixin" as m;

/*!
 component > pagination
------------------------------
*/
.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 40rem;

  .page.smaller,
  .page.larger,
  .current {
    display: grid;
    place-items: center;
    width: 50rem;
    aspect-ratio: 1/1;
    border: 1px solid currentColor;
    border-radius: 50%;
    @include m.font-size($font-size: 18, $line-height: 18);
    @include m.letter-spacing(-5);
    @include m.font-family-en($weight: "ExtraLight");
  }

  .page.smaller,
  .page.larger {
    opacity: 0.4;
    transition: opacity var(--duration-base);

    // hover時透過解除
    &:hover {
      opacity: 1;
    }
  }

  // 選択中
  .current {
    background-color: var(--color-bg-primary);
    color: var(--color-white);
    opacity: 1;
  }
}
