@use "../../../global" as g;
@use "../../../mixin/mixin" as m;

/*!
 news > detail > news-detail-article
------------------------------
 */
.news-detail {
}

.news-detail__inner {
  padding: 136rem 30rem;

  @include g.mq() {
    padding: 182rem 0 110rem;
    display: grid;
    grid-template-columns: 210rem 810rem;
    align-items: flex-start;
    justify-content: center;
    gap: 90rem;
  }
}

.news-detail__sidebar-title {
  @include m.font-size($font-size: 64, $line-height: 64);
  @include m.letter-spacing(-2);
  text-transform: capitalize;
  @include m.font-family-en($weight: "ExtraLight");

  @include g.mq() {
    font-size: 70rem;
  }
}

.news-detail__sidebar__section {
  // 1つ目のsectionのみ上の余白を設定
  &:nth-of-type(1) {
    margin-top: 36rem;
  }
}

.news-detail__article {
  margin-top: 60rem;

  @include g.mq() {
    margin-top: 0;
  }
}

.news-detail__head {
}

.news-detail__info {
}

.news-detail__category {
  display: inline-block;
  color: var(--color-white);
  padding: 2rem 13rem;
  background-color: var(--color-text-primary);
  border-radius: 15rem;
  @include m.font-size($font-size: 12, $line-height: 20);
  @include m.font-family-base($weight: "Medium");
  @include m.letter-spacing(10);
  margin-right: 15rem;
}

.news-detail__date {
  line-height: 0;
  @include m.font-family-en($weight: "Light");
  @include m.letter-spacing(4);
}

.news-detail__title {
  @include m.font-family-base($weight: "Medium");
  @include m.font-size($font-size: 26, $line-height: 47);
  padding-bottom: 15rem;
  border-bottom: 1px solid var(--color-text-primary);
  margin-top: 10rem;

  @include g.mq() {
    font-size: 32rem;
  }
}

.news-detail__article-img {
  margin-top: 40rem;
  aspect-ratio: 10/11;
  overflow: hidden;
  border-radius: 10rem;

  @include g.mq() {
    margin-top: 60rem;
    aspect-ratio: 2/1;
  }

  img {
    object-fit: cover;
    height: 100%;
  }
}

.news-detail__body {
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 60rem;
  }
}

.news-detail__text {
  font-size: 14rem;
  @include m.letter-spacing(8);

  @include g.mq() {
    font-size: 16rem;
  }
}

.news-detail__btn {
  margin-top: 60rem;

  @include g.mq() {
    margin: 80rem auto 0;
    width: 335rem;
  }
}
