@use "../../global" as g;
@use "../../mixin/mixin" as m;

/*!
 voice
------------------------------
 */
// 背景画像を設定
.voice-fv__inner {
  background-image: url(../img/voice/voice-kv-sp.jpg);

  @include g.mq() {
    background-image: url(../img/voice/voice-kv.jpg);
  }
}

.voice {
  background-color: var(--color-bg-primary);
  color: var(--color-white);
}

.voice__inner {
  padding: 60rem 30rem;
  border-bottom: 1px solid var(--color-white);

  @include g.mq() {
    padding: 90rem 30rem;
  }
}

.voice__list {
  @include g.mq() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.voice__item {
  border-top: 1px solid color-mix(in srgb, currentColor 20%, transparent);
  border-left: 1px solid color-mix(in srgb, currentColor 20%, transparent);

  @include g.mq() {
    // 2番目のitemの右上の隙間を埋める
    &:nth-of-type(2) {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        right: -1px;
        width: 1px;
        height: 30rem;
        background-color: currentColor;
        opacity: 0.2;
      }
    }

    // 1番目から3つごとのitemの設定
    &:nth-of-type(3n + 1) {
      border-left: 0;
    }
    // 2番目から3つごとのitemの設定
    &:nth-of-type(3n + 2) {
      transform: translateY(30rem);
      border-left: 0;
      border-right: 0;
    }

    // 3番目から3つごとのitemの設定
    &:nth-of-type(3n + 3) {
      transform: translateY(60rem);
      border-right: 0;
    }

    // itemが2つ以下なら2番目のborder-rightを追加
    &:last-of-type:nth-of-type(2) {
      border-right: 1px solid color-mix(in srgb, currentColor 20%, transparent);

      // 隙間用の線を削除
      &::before {
        display: none;
      }
    }
  }
}

.voice__btn {
  margin-top: 24rem;
  opacity: 0.4;
  transition: opacity var(--duration-base);
}

// linkをhover時、btnの透過を解除
.voice__link {
  @include g.mq() {
    @media (any-hover: hover) {
      &:hover {
        .voice__btn {
          opacity: 1;
        }
      }
    }
  }
}

// ページネイション
.voice__pagination-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 40rem;

  @include g.mq() {
    margin-top: 0;
  }
}

.voice__pagination-btn {
  display: grid;
  place-items: center;
  width: 50rem;
  aspect-ratio: 1/1;
  border: 1px solid currentColor;
  border-radius: 50%;
  opacity: 0.4;
  transition: opacity var(--duration-base);
  @include m.font-size($font-size: 18, $line-height: 18);
  @include m.letter-spacing(-5);
  @include m.font-family-en($weight: "ExtraLight");

  // hover時透過解除
  &:hover {
    opacity: 1;
  }

  // 選択中
  &.active {
    opacity: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    color: var(--color-text-primary);

    // カーソルとイベントを停止する
    pointer-events: none;
    cursor: default;
  }
}
